@import url("/common/normalize.css");

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-size: 100%;
}

body {
	margin: 0;
}

#controls {
	height: 100%;
	background: #000;
}

div.button {
	position: relative;
	height: 50%;
	border: 1px solid #fff;
}

div.button span {
	display: inline-block;
	position: absolute;
	color: #fff;
	font-size: 30vh;
	top: 50%;
	left: 50%;
	height: 30vh;
	line-height: 30vh;
	width: 30vh;
	margin: -15vh 0 0 -15vh;
}
