@import url("/common/normalize.css");

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: #000;
	color: #fff;
}

#playground {
	height: 100%;
	overflow: hidden;
}

#divider {
	position: absolute;
	left: 50%;
	height: 100%;
	width: 2vw;
	margin-left: -1vw;
	background: #fff;
}

div.ball {
	position: relative;
	background: red;
	width: 2vw;
	height: 2vw;
	border-radius: 1vw;
}

div.player {
	position: absolute;
	background: #fff;
}

div.player_label {
	position: absolute;
	top: 0;
	font-size: 5vw;
	width: 50%;
	text-align: center;
}

#player_label_1 {
	left: 50%;
}

#connection_lost {
	position: absolute;
	top: 15%;
	width: 100%;
	font-size: 15vw;
	text-align: center;
}

#qr {
	position: absolute;
	left: 50%;
	top: 25%;
	width: 266px;
	height: 266px;
	margin-left: -128px;
	font-size: 0;
}

#qr div.code {
	background: #ccc;
	padding: 5px;
}

#qr div.qr_label {
	text-align: center;
	font-size: 2vw;
	background: #000;
	padding: 5px;
}
